/bin/bootnode
/node1/cache
/node1/chains
/node1/dapps
/node1/network
/node1/signer

/node2/cache
/node2/chains
/node2/dapps
/node2/network
/node2/signer

/node3/cache
/node3/chains
/node3/dapps
/node3/network
/node3/signer
